<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg %n
			</Pattern>
		</encoder>
	</appender>
	
	<appender name="consoleAppenderDebug" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>
				%yellow(%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg %n)
			</Pattern>
		</encoder>
	</appender>

	<appender name="consoleAppenderInfo" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} %blue(%-5level) %logger{36} - %msg %n
			</Pattern>
		</encoder>
	</appender>

	<appender name="consoleAppenderError" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} %blue(%-5level) %logger{36} - %msg %n
			</Pattern>
		</encoder>
	</appender>

	<appender name="consoleAppenderSortimoInfo" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>
				%cyan(%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg %n)
			</Pattern>
		</encoder>
	</appender>

	<appender name="consoleAppenderSortimoError" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>
				%red(%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg %n)
			</Pattern>
		</encoder>
	</appender>

	<logger name="*" level="debug">
		<appender-ref ref="consoleAppenderDebug" />
	</logger>


	<logger name="*">
		<level value="info" />
		<appender-ref ref="consoleAppenderInfo" />
	</logger>

	<logger name="*">
		<level value="error" />
		<appender-ref ref="consoleAppenderError" />
	</logger>

	<logger name="com.sortimo" additivity="true">
		<level value="info" />
		<appender-ref ref="consoleAppenderSortimoInfo" />
	</logger>

	<logger name="com.sortimo" additivity="true">
		<level value="error" />
		<appender-ref ref="consoleAppenderSortimoError" />
	</logger>

	<root level="info">
		<appender-ref ref="consoleAppender" />
	</root>
	
</configuration>